@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

::-webkit-scrollbar{
    width: 5px;
    background-color: #0F172A;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
}

* {
    outline: none;
    list-style: none;
    font-family: 'Raleway', sans-serif;
}

#bg{
    transition: 0.5s ease-in;
}

.bg{
    background-color: #0f172a;
    transition: 0.5s ease-in;
}

.style-3d{
    transform-style: preserve-3d;
}

.backface {
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.rotate {
    transform: rotateY(180deg);
}

@media (max-width: 1023px){
    #menu{
        display: block;
        top: 76px;
        height: 0;
        @apply absolute;
        @apply right-0;
        @apply w-full;
        @apply gap-0;
        @apply m-0;
        @apply text-xl;
        @apply text-center;
        @apply z-50;
        @apply invisible;
        @apply overflow-y-hidden;
    }

    #menu li {
        @apply font-bold;
        @apply py-8;
        @apply border-opacity-10;
    }

    #nav.active #menu{
        height: 100vh;
        transition: 0.9s ease;
        @apply visible;
        @apply overflow-y-scroll;
    }

    #nav.active #close{
        @apply block;
    }
    #nav.active #burger{
        @apply hidden;
    }

    #bg{
        transition: 0.5s ease-in;
    }

    #bg.active {
        width: 100%;
        height: 100vh;
        top: 0;
        z-index: 20;
        border-radius: 0;
        transition: 0.5s ease-in;
        background-color: rgba(15, 23, 42, 0.5);
        backdrop-filter: blur(6px);
    }
}